.App {
  text-align: center;
}

.bold {
    font-weight: bold;
}

.marginBottom {
    margin-bottom: 2em;
}

.button {   
    border: solid 1px;
    color: white;
    border-radius: 5px;
    padding: 1em;
    font-weight: bold;
}

.buttonPrimary {
    background-color: var(--primary);
}

.button:hover {
    /* border-color: highlight; */
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5) inset;
    /* background-color: highlight;
    color: highlighttext; */
}

.buttonSecondary {
    background-color: var(--accent);
}

.input {
    padding: .5em;
    margin: .5em;
}

.input:focus {
    border-color: #2a2d48;
}

.inputName {
    width: 30em;
}

.inputNumber {
    width: 10em;
}

